body{
  background-color: blue;
}
h1{
color: white;
text-decoration-line: underline;
font: arial;
font-style: normal;
font-weight: normal;
}
p{
  color: white;
}
button:hover { 
  background-color: red; 
}
